
.PickPhase{
    position: relative;
    width: 13.4931rem;
    height: 12.8325rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.875rem;
    .Icons{
        display: relative;
        width: 100%;
        height: 100%;
        position: relative;
        list-style-type: none;
        .Shape{
            cursor: pointer;
            position: absolute;
            img{
                max-width: 2.5rem;
                // make image unselectable
                -webkit-user-select: none; /* Safari */        
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* IE10+/Edge */
                user-select: none; /* Standard */
            }
        }
        .Scissors{
            left: 33.5%;
            top: -20%;
        }
        .Spock{
            left: -17%;
            top: 18%;
        }
        .Paper{
            right: -17%;
            top: 18%;
        }
        .Lizard{
            bottom: -15%;
            left: 2%;
        }
        .Rock{
            bottom: -15%;
            right: 2%;
        }

    }
    
}

@media only screen and (min-width: 992px){
    .PickPhase{
      scale: 1.25;
    } 
  }