.App {
  position: relative;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-image: linear-gradient(rgb(31, 55, 86), rgb(20, 21, 57));
}

@media only screen and (min-width: 992px){
  .App{
    display: flex;
    justify-content: space-around;
    align-items: center;
  } 
}